.userBox {
    right:0;
}

.active {
    right: -100%;
}

.userBox, .active {
    position: fixed;
    top: 0;
    width: 100%;
    min-height: 100vh;
    background-color: rgba(0,0,0,0.5);
    z-index: 1000;
    transition: 0.6s;

    .userBoxContainer {
        position: absolute;
        right: 0;
        top: 0;
        z-index: 1000;
        background-color: #15161D;
        padding: 20px;
        width: 300px;
        height: 100%;

        h5 {
            cursor: pointer;
            transition: 0.3s;
            
            &:hover {
                color: var(--rose-600);
            }
        }

        .closeUserBoxIcon {
            position: absolute;
            right: 10px;
            top: 10px;
            cursor: pointer;
            transition: 0.3s;

            &:hover {
                color: var(--rose-600);
            }
        }

        .icon {
            font-size: 20px;
        }

        .imgContainer {
            img {
                border-radius: 50%;
            }
        }
    }
}

@media(max-width:430px) {
    .userBox {
        .userBoxContainer {
            width: 100%;

        }
    }
}