.productPage {

    .productBox {
        .avaliationBox {
            width: 400px;
            span {
                color: var(--gray-400);
            }

            .icon {
                color: var(--gray-400);
                font-size: 20px;
                cursor: pointer;
            }
        }

        .imgContainer {
            width: 300px;
            height: 300px;

            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }
    }

    .priceBox {
        h6 {
            color: var(--gray-500);
            font-weight: bold;
        }
    }
}

@media(max-width:430px) {
    .productPage {
        .productBox {
            .avaliationBox{
                width: 340px;
            }
        }

        .priceBox {
            margin-top: 30px;
        }
    }
}

@media(max-width:320px) {
    .productPage {
        .productBox {
            .avaliationBox{
                width: 250px;
            }

            .imgContainer {
                width: 200px;
                height: 200px;
            }
        }
    }
}