.primeContainer {
    background: url(../../../public/images/primePageBackground.svg);
    width: 100%;
    min-height: 100vh;
    background-size: cover;

    .primeSubtitles {
        p {
            max-width: 300px;
        }

        .primeBenefitBox {
            padding: 10px;
            border-bottom: 1px solid var(--rose-600);
            border-width: 3px;
            border-right: 1px solid var(--rose-600);
            border-left: 1px solid var(--rose-600);
            box-shadow: 1px 1px 20px var(--rose-600);
            width: 120px;

            .icon {
                font-size: 30px;
            }
        }
    }

    .imgContainer {
        animation: float ease 3s infinite;

        @keyframes float {
            0% {
                transform: translate(0, 0);
            }
            50% {
                transform: translate(0, -10px);
            }
            100% {
                transform: translate(0, 0);
            }
        }
    }
}

@media(max-width:430px) {
    .primeContainer{
        .primeSubtitles {
            .primeBenefitBox {
                margin: auto;
            }
        }
    }
}