.primeContainer {
    background: url(../../../public/images/primePageBackground.svg);
    width: 100%;
    min-height: 100vh;
    background-size: cover;

    .primeSubtitles {
        p {
            max-width: 300px;
        }

        .primeBenefitBox {
            padding: 10px;
            border-bottom: 1px solid var(--rose-600);
            border-width: 3px;
            border-right: 1px solid var(--rose-600);
            border-left: 1px solid var(--rose-600);
            box-shadow: 1px 1px 20px var(--rose-600);

            .icon {
                font-size: 20px;
            }
        }
    }

    .imgContainer {
        width: 500px;
        height: 500px;
        animation: float ease 3s infinite;

        @keyframes float {
            0% {
                transform: translate(0, 0);
            }
            50% {
                transform: translate(0, -10px);
            }
            100% {
                transform: translate(0, 0);
            }
        }
        
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}

@media(max-width:430px) {
    .primeContainer{
        .primeSubtitles {
            .primeBenefitBox {
                margin: auto;
            }
        }
        .imgContainer {
            margin: auto;
            width: 300px;
            height: 300px;
        }
    }
}