.profilePage {

    .profileBox {

        .imgContainer {
            width: 80px;

            img {
                width: 100%;
                object-fit: cover;
            }
        }

        .profileDetails {
            width: 300px;

            h6 {
                font-size: 15px;
            }
        }
    }
}