.productCollections {
    margin-top: 100px;

    .collectionBox {
        background: url(/images/collectionBoximage.webp);
        width: 350px;
        height: 250px;
        background-size: cover;

        h5 {
            font-size: 17px;
        }

        a {
            text-decoration: none;
            color: #fff;
        }

        h6 {
            cursor: pointer;
            transition: 0.3s;

            &:hover {
                color: var(--rose-600);
            }
        }
    }
}