.signUpPage {

    form {
        max-width: 500px;

        .inputBox {
            input[type=number]::-webkit-inner-spin-button { 
                -webkit-appearance: none; 
            }
        }

        h6 {
            color: var(--gray-500);
            
            a {
                text-decoration: none;
                color: var(--rose-600);
            }
        }
    }
}

@media(max-width:430px) {
    .signUpPage{
        form{
            .inputBox{
                flex-wrap: wrap;
                input {
                    width: 350px;
                    margin: auto;
                }
            }
        }
    }
}