.shop {

    .shopContainer {
        .filter, .responsiveFilter {
            h5, h6, label, span {
                color: var(--gray-500);
            }
    
            label, span {
                font-size: 14px;
            }
    
            input[type="range"] {
                cursor: pointer;
                -webkit-appearance: none;
                appearance: none;
                width: 180px;
                height: 5px; 
                background: var(--rose-600); 
                outline: none;
                -webkit-transition: .2s;
                transition: opacity .2s;
            }
    
            input[type="range"]::-webkit-slider-thumb {
                -webkit-appearance: none;
                appearance: none;
                width: 15px;
                height: 15px;
                background: var(--rose-600);
                cursor: pointer;
            }
    
            input[type="checkbox"] {
                width: 1rem;
            }
        }
    
        .responsiveFilterButton, .closeResponsiveFilterIcon {
            display: none;
        }
    }
}

@media(max-width:575px) {
    .shop {
        .shopContainer {
            flex-wrap: wrap;

            .overlay {
                position: fixed;
                top: 0;
                left: 0;
                width: 100%;
                min-height: 100vh;
                background-color: rgba(0,0,0,0.5);
                z-index: 1000;
            }

            .filter {
                left: -100%;
            }

            .responsiveFilter {
                left: 0;

                .closeResponsiveFilterIcon {
                    display: block;
                    position: absolute;
                    top: 1rem;
                    right: 1rem;
                    color: #000;
                }
            }

            .filter ,.responsiveFilter{
                position: fixed;
                background-color: #fff;
                width: 70%;
                min-height: 100vh;
                top: 17%;
                padding: 10px 20px;
                transition: 0.3s;
            }
    
            .responsiveFilterButton {
                display: flex;
                gap: 10px;
                cursor: pointer;
            }
        }
    }   
}