.shop {

    .shopContainer {
        .filter {
            h5, h6, label, span {
                color: var(--gray-500);
            }
    
            label, span {
                font-size: 14px;
            }
    
            input[type="range"] {
                cursor: pointer;
                -webkit-appearance: none;
                appearance: none;
                width: 180px;
                height: 5px; 
                background: var(--rose-600); 
                outline: none;
                -webkit-transition: .2s;
                transition: opacity .2s;
            }
    
            input[type="range"]::-webkit-slider-thumb {
                -webkit-appearance: none;
                appearance: none;
                width: 15px;
                height: 15px;
                background: var(--rose-600);
                cursor: pointer;
            }
    
            input[type="checkbox"] {
                width: 1rem;
            }
        }
    
        .responsiveFilterButton {
            display: none;
        }
    }

    .pagination {
        button {
            border:none;
            background-color: #242424;
            color: #fff;
            padding: 10px 15px;
            transition: 0.3s;

            &:hover {
                background-color: var(--rose-600);
            }
        }
    }
}

@media(max-width:430px) {
    .shop {
        .shopContainer {
            flex-wrap: wrap;

            .filter{
                display: none;
            }
    
            .responsiveFilterButton {
                display: flex;
                align-items: center;
                gap: 15px;
                cursor: pointer;
            }
        }
    }   
}