.home {

    .banner {
        background: url(../../public/images/banner.svg);
        width: 100%;
        min-height: 50vh;
        background-size: cover;
    }
}

@media(max-width:420px) {
    .home {
        .banner {
            min-height: 60vh;
        }
    }
}