.header {
    background-color: #15161D;

    .rose {
        color: var(--rose-600);
    }

    .inputBox {
        width: 300px;
        height: 50px;
        border: 1px solid var(--gray-400);
        border-radius: 10px;
        padding: 10px;

        input {
            border: none;
            outline: none;
            background: none;
            color: #fff;
        }

        .icon {
            color:var(--gray-400);
            margin-right: 10px;
        }
    }

    .headerIcons {

        .icon {
            font-size: 25px;
            transition: 0.3s;
            cursor: pointer;

            &:hover {
                color: var(--rose-600);
            }
        }

        h6 {
            font-size: 15px;
        }
    }
}

@media(max-width:430px) {
    .header {
        h3, h6 {
            display: none;
        }

        .inputBox {
            width: 200px;

            input {
                width: 100px;
            }
        }

        .icon {
            width: 15px;
        }
    }
}