.navBar {

    a {
        color: #000;
        transition: 0.3s;

        &:hover {
            color: var(--rose-600);
        }
    }
}

.responsiveOpenMenuIcon {
    display: none;
}

@media(max-width:430px) {
    .navBar {
        display: none;
    }

    .openMenuIconBox {
        padding: 20px;
        .responsiveOpenMenuIcon {
            display: block;
            cursor: pointer;
            transition: 0.3s;
    
            &:hover {
                color: var(--rose-600);
            }
        }
    }
}