.navBar {
    border-bottom: 1px solid var(--gray-300);

    a {
        text-decoration: none;
        color: #000;
        transition: 0.3s;

        &:hover {
            color: var(--rose-600);
        }
    }
}

.responsiveOpenMenuIcon, .closeResponsiveMenuIcon {
    display: none;
}

@media(max-width:575px) {
    .navBar {
        left: -100%;
    }

    .responsiveNavBar{
        left: 0;

        .closeResponsiveMenuIcon {
            display: block;
            position: absolute;
            top: 1rem;
            right: 1rem;
        }
    }

    .navBar, .responsiveNavBar {
        position: absolute;
        z-index: 1000;
        top: 0;
        background-color: #fff;
        width: 100%;
        min-height: 100vh;
        transition: 0.3s;

        .active {
            left: 0;
        }

        .navContent {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            position: absolute;
            top: 10%;

            a {
                text-decoration: none;
                color: #000;
                transition: 0.3s;
        
                &:hover {
                    color: var(--rose-600);
                }
            }
        }
    }

    .openMenuIconBox {
        padding: 20px;
        .responsiveOpenMenuIcon {
            display: block;
            cursor: pointer;
            transition: 0.3s;
    
            &:hover {
                color: var(--rose-600);
            }
        }
    }
}