.profileFormContainer {
    form {
        max-width: 500px;
    }
}

@media(max-width:430px) {
    .profileFormContainer {
        form {
            margin: auto;

            button {
                margin: auto;
            }
        }
    }
}