.footer {
    margin-top: 100px;
    
    a, .icon {
        text-decoration: none;
        color: #000;
        transition: 0.3s;

        &:hover {
            color: var(--rose-600);
        }
    }

    .icon {
        font-size: 20px;
        cursor: pointer;
    }

    .copyright {
        width: 100%;
        border-top: 1px solid var(--rose-600);

        span {
            color: var(--rose-600);
        }
    }
}