.sucessPage {

    .paymentDetailsContainer {
        width: 500px;

        button {
            width: 120px;
        }

        span {
            color: var(--gray-500);
        }
    }

    .itemName {
        max-width: 30ch;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
}

@media(max-width:430px) {
    .sucessPage {
        h5 {
            font-size: 15px;
        }

        .imgContainer {
            width: 40px;
        }

        .paymentDetailsContainer{
            width: 300px;

            span, h6 {
                font-size: 10px;
            }
        }
    }
}