.paymentContainer {
    .multiStepContainer {

        .multiStepBox {
            border: 1px solid var(--gray-400);
        }

        .active {
            border: 1px solid var(--rose-600);
        }

        .multiStepBox,.active {
            padding: 10px;
            border-radius: 50%;
            width: 60px;
            height: 60px;

            .icon {
                font-size: 20px;
            }
        }
    }

    form {
        max-width: 600px;

        input[type=number]::-webkit-inner-spin-button { 
            -webkit-appearance: none; 
        }
    }
}

@media(max-width:430px) {
    .paymentContainer {
        .multiStepContainer {
            .multiStepBox, .active {
                width: 40px;
                height: 40px;
            }

            h6 {
                font-size: 10px;
            }
        }

        form {
            max-width: 250px;
            margin: auto;

            label {
                font-size: 10px;
            }

            button {
                width: 100px;
            }
        }
    }
}