.signInPage {

    form {
        max-width: 500px;

        .inputBox {
            border: 1px solid var(--gray-400);
            border-radius: 5px;
            padding: 10px;
            width: 100%;

            .icon {
                color: var(--gray-300);
            }

            input {
                outline: none;
                border: none;
            }
            
            input[type=number]::-webkit-inner-spin-button { 
                -webkit-appearance: none; 
            }
        }

        h6 {
            color: var(--gray-500);
            
            a {
                text-decoration: none;
                color: var(--rose-600);
            }
        }
    }
}